header[tuiNavigationHeader] {
    border-bottom: 1px solid var(--tui-border-normal);
}

header[tuiNavigationHeader][tuiNavigationHeader]:before {
    content: none;
}

header[tuiNavigationLogo] {
    margin-inline-start: 0;
}