<header tuiNavigationHeader>
    <span tuiNavigationLogo>
        <img src="assets/img/logo.svg" alt="Ordo logo" />
    </span>
    <hr />
    <button [style.border-radius.%]="100" [tuiDropdown]="content" [(tuiDropdownOpen)]="openMenu">
        <tui-avatar src="@tui.user" />
    </button>
    <ng-template #content>
        <tui-data-list>
            <tui-opt-group>
                <button tuiOption type="button" class="!justify-start" (click)="closeMenu()"
                    [routerLink]="['settings']">
                    <tui-icon icon="@tui.settings" class="text-lg mr-2" />
                    {{ 'COMMON.SETTINGS' | translate }}
                </button>
                <button tuiOption type="button" class="!justify-start" (click)="logout()">
                    <tui-icon icon="@tui.log-out" class="text-lg mr-2" />
                    {{ 'COMMON.LOGOUT' | translate }}
                </button>
            </tui-opt-group>
        </tui-data-list>
    </ng-template>
</header>