<header tuiNavigationHeader>
    <span tuiNavigationLogo>
        <span tuiFade class="text-lg">Ordo</span>
    </span>
    <hr />
    <button [style.border-radius.%]="100" [tuiDropdown]="content" [(tuiDropdownOpen)]="openMenu">
        <tui-avatar src="@tui.user" />
    </button>
    <ng-template #content>
        <tui-data-list>
            <tui-opt-group>
                <button tuiOption type="button" class="!justify-start" (click)="closeMenu()"
                    [routerLink]="['settings']">
                    <tui-icon icon="@tui.settings" class="text-lg mr-2" />
                    Settings
                </button>
                <button tuiOption type="button" class="!justify-start" (click)="logout()">
                    <tui-icon icon="@tui.log-out" class="text-lg mr-2" />
                    Logout
                </button>
            </tui-opt-group>
        </tui-data-list>
    </ng-template>
</header>