<div class="max-w-sm p-4">
    <form [formGroup]="projectForm">
        <tui-input formControlName="name">
            Project name
            <input tuiTextfieldLegacy />
        </tui-input>
        <tui-textarea formControlName="description" class="mt-4 field-medium" [expandable]="true" [maxLength]="400">
            Description
        </tui-textarea>
        <div class="mt-4">
            <button size="m" tuiButton type="submit" appearance="whiteblock" [disabled]="projectForm.invalid || saving"
                (click)="createNewProject()">
                Submit
            </button>
        </div>
    </form>
</div>