<div cdkDropListGroup class="flex p-2">
    <div class="flex" cdkDropList cdkDropListOrientation="horizontal" [cdkDropListData]="project.sections"
        (cdkDropListDropped)="dropSection($event)">
        @for (section of project.sections; track section.id) {
        <div class="section-container" cdkDrag [cdkDragData]="section">
            <div class="pb-2 flex items-center" cdkDragHandle>
                <input #sectionInput class="section-title w-full mr-2" [(ngModel)]="section.title"
                    [attr.id]="section.id" (input)="updateSectionTitle(section)" />
                <button appearance="flat" iconStart="@tui.ellipsis-vertical" size="s" tuiIconButton type="button"
                    class="options-button" [tuiDropdown]="sectionOptions" [tuiDropdownOpen]="false">
                    Options
                </button>
                <ng-template #sectionOptions>
                    <tui-data-list tuiDataListDropdownManager size="s">
                        <button iconStart="@tui.trash" tuiOption type="button" class="!text-[var(--tui-text-negative)]"
                            (click)="deleteSection(section)">
                            Delete section
                        </button>
                    </tui-data-list>
                </ng-template>
            </div>

            <div class="section-list">
                <div cdkDropList #taskContainer id="{{section.id}}" [cdkDropListData]="section.tasks"
                    (cdkDropListDropped)="dropTask($event)" [cdkDropListEnterPredicate]="isTaskPredicate"
                    [cdkDropListConnectedTo]="taskContainers" class="min-h-20">
                    @for (task of section.tasks; track task.id) {
                    <div class="card-board" cdkDrag [cdkDragData]="task" (click)="openTask(section, task)">
                        {{task.title}}
                    </div>
                    }
                </div>
                <div class="flex justify-center">
                    <button size="m" appearance="flat" tuiButton type="button" class="add-more-button"
                        (click)="addTask(section)">
                        <tui-icon icon="@tui.plus" class="text-xl" /> Add more
                    </button>
                </div>
            </div>
        </div>
        }
    </div>

    <div class="flex">
        <div class="section-container">
            <div tuiHeader="xs" class="pb-2">
                <button size="m" appearance="flat" tuiButton tuiTitle type="button"
                    class="p-2 !text-[var(--color-text-weak)]" (click)="addSection()">
                    <span>
                        <tui-icon icon="@tui.plus" class="text-xl" /> Add section
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>