<div cdkDropListGroup class="flex">
    <div class="flex" cdkDropList cdkDropListOrientation="horizontal" [cdkDropListData]="sections"
        (cdkDropListDropped)="drop($event)">
        @for (section of sections; track section) {
        <div class="section-container" cdkDrag [cdkDragData]="section">
            <div tuiHeader="xs" class="pb-2" cdkDragHandle>
                <h2 tuiTitle class="p-2">{{section.title}}</h2>
            </div>

            <div class="section-list">
                <div cdkDropList #taskContainer id="{{section.id}}" [cdkDropListData]="section.tasks"
                    (cdkDropListDropped)="drop($event)" [cdkDropListEnterPredicate]="istaskPredicate"
                    [cdkDropListConnectedTo]="taskContainers" class="min-h-20">
                    @for (task of section.tasks; track task) {
                    <div class="card-board" cdkDrag [cdkDragData]="task" (click)="openTask()">{{task.title}}</div>
                    }
                </div>
                <div class="flex justify-center">
                    <button size="m" appearance="flat" tuiButton type="button" class="add-more-button"
                        (click)="addTask(section)">
                        <tui-icon icon="@tui.plus" [style.font-size]="'20px'" /> Add more
                    </button>
                </div>
            </div>
        </div>
        }
    </div>
</div>