@if(project) {
<div class="flex flex-col w-full h-[calc(100vh-48px)] overflow-hidden">
    <div class="bg-white">
        <div class="flex items-center px-4 py-1">
            <input [(ngModel)]="project.name" class="project-title w-full my-2" (input)="updateProjectTitle()" />
            <button appearance="flat" iconStart="@tui.ellipsis-vertical" size="s" tuiIconButton type="button"
                class="options-button" [tuiDropdown]="sectionOptions" [tuiDropdownOpen]="false">
                {{ 'COMMON.OPTIONS' | translate }}
            </button>
            <ng-template #sectionOptions>
                <tui-data-list tuiDataListDropdownManager size="s">
                    <button iconStart="@tui.trash" tuiOption type="button" class="!text-[var(--tui-text-negative)]"
                        (click)="confirmDelete()">
                        {{ 'PROJECT.DELETEPROJECT' | translate }}
                    </button>
                </tui-data-list>
            </ng-template>
        </div>

        <tui-tabs [(activeItemIndex)]="activetab" class="px-4 max-h-9">
            <button iconStart="@tui.clipboard-minus" tuiTab type="button">
                {{ 'PROJECT.RESUME' | translate }}
            </button>
            <!-- <button disabled iconStart="@tui.list" tuiTab type="button">
                    List
                </button> -->
            <button iconStart="@tui.table" tuiTab type="button">
                {{ 'PROJECT.BOARD' | translate }}
            </button>
        </tui-tabs>
    </div>

    <div class="flex-1 overflow-auto">
        @if (activetab === 0) {
        <app-resume-view [project]="project"></app-resume-view>
        } @else if (activetab === 1) {
        <app-board-view [project]="project"></app-board-view>
        }
    </div>
</div>
} @else {
<div class="flex justify-center items-center h-full">
    <tui-loader [inheritColor]="true" />
</div>
}