<div>
    <form [formGroup]="taskForm">
        <div class="pb-2 flex items-center">
            <div class="wrapper flex">
                <input tuiCheckbox type="checkbox" formControlName="completed" class="!rounded-full" />
            </div>

            <tui-input formControlName="title" tuiTextfieldSize="m" [tuiTextfieldLabelOutside]="true"
                class="w-full mr-2 no-outline-input">
                <input tuiTextfieldLegacy class="!text-xl !font-semibold !px-2" />
            </tui-input>

            <button appearance="flat" iconStart="@tui.ellipsis-vertical" size="s" tuiIconButton type="button"
                class="options-button " [tuiDropdown]="taskOptions" [tuiDropdownOpen]="false">
                Options
            </button>
            <ng-template #taskOptions>
                <tui-data-list tuiDataListDropdownManager size="s">
                    <button iconStart="@tui.trash" tuiOption type="button" class="!text-[var(--tui-text-negative)]"
                        (click)="deleteTask()">
                        Delete task
                    </button>
                </tui-data-list>
            </ng-template>
        </div>

        <div class="py-2">
            <div class="flex items-center">
                <span class="badge">
                    <tui-icon icon="@tui.calendar" class="size-4"></tui-icon>
                    {{task.createdDate * 1000 | date: 'd MMM' }}
                </span>
            </div>

            <hr class="mt-3" />

            <label tuiLabel class="mt-4">
                <div>
                    <tui-icon icon="@tui.message-square" class="size-5 text-[var(--color-text-weak)] mr-1" />
                    <span class="text-[var(--color-text-weak)] font-medium">Description</span>
                </div>
                <tui-textarea formControlName="description" class="field-medium no-shadow-input mt-1"
                    [expandable]="true" [maxLength]="400">
                </tui-textarea>
            </label>
        </div>
    </form>
</div>