<aside [style.height]="'calc(100vh - 48px)'" [tuiNavigationAside]="expanded">
    <a iconStart="@tui.home" tuiAsideItem [routerLink]="['/dashboard']">
        {{ 'COMMON.DASHBOARD' | translate }}
    </a>
    <hr />
    <tui-aside-group [open]="true">
        <button iconStart="@tui.folder-closed" tuiAsideItem tuiChevron type="button">
            {{ 'COMMON.PROJECTS' | translate }}
            <ng-template>
                <button iconStart="@tui.circle" tuiAsideItem tuiFade type="button" *ngFor="let project of projects"
                    [routerLink]="['/', project.id]">
                    {{project.name}}
                </button>
            </ng-template>
        </button>
    </tui-aside-group>
    <button iconStart="@tui.plus" tuiAsideItem type="button" [routerLink]="['/new-project']">
        {{ 'COMMON.ADDPROJECT' | translate }}
    </button>
    <footer>
        <button tuiAsideItem type="button" [iconStart]="expanded ? '@tui.chevron-left' : '@tui.chevron-right'"
            (click)="expanded = !expanded">
            {{ expanded ? ('COMMON.COLLAPSE' | translate) : ('COMMON.EXPAND' | translate) }}
        </button>
    </footer>
</aside>