@import "./assets/css/colors.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #2e2e2ee0;
    border-radius: 8px;
    border: none;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #2e2e2ed1;
}

[type="checkbox"][tuiAppearance][data-appearance=primary] {
    background: var(--success-color);
}

.options-button {
    color: var(--color-text-weak) !important;
}

.no-outline-input {

    [tuiWrapper],
    [tuiWrapper]:hover:not(._no-hover) {
        background: inherit;
        box-shadow: none;
    }

    [tuiWrapper]::after {
        content: none;
    }
}

.no-shadow-input {

    [tuiWrapper],
    [tuiWrapper]:hover:not(._no-hover) {
        box-shadow: none;
    }
}

.no-outline-input:hover,
.no-outline-input:focus-within {
    [tuiWrapper]::after {
        content: '';
    }
}

.t-box {
    border-block-start: 0.5rem solid transparent !important;

}

.badge {
    display: flex;
    align-items: center;
    border: 1px solid #e5e7eb;
    font-size: 14px;
    font-weight: 600;
    padding: 1px 10px;
    border-radius: 50px;

    tui-icon {
        margin-right: 8px;
    }
}